* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons input {
  margin-top: 23px;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* MAIN */
.main-container {
  display: flex;
  height: calc(100vh - 70px);
}

/* LEFT SIDE */
.left-panel {
  width: 50%;
  display: flex;
  justify-content: center;
}

.left-bg {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

/* LOGIN BOX */
.login-box {
  width: 420px;
  max-width: 90%;
  background: #fff;
  padding: 28px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.login-box h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 24px;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 13px;
  color: #666;
  text-decoration: none;
}

/* BUTTONS */
button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.login-button {
  background: #000;
  color: #fff;
  border: none;
  margin-top: 5px;
}

.login-button:hover {
  background: #222;
}

.signup-text {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
}

.signup-text a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider p {
  margin: 0 10px;
  font-size: 13px;
  color: #666;
}

/* GOOGLE BUTTON */
.google-btn {
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.google-btn img {
  width: 20px;
}

/* RIGHT SIDE */
.right-panel {
  width: 50%;
}

.right-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}