<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>

<header class="navbar">
    <div class="logo">NIKE</div>

    <nav class="nav-links">
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">shoe</a>
        <a href="#">hot deals</a>
    </nav>

    <div class="nav-right">
        <input type="text" placeholder="Search" class="search-box">
        <span class="icon">👤</span>
        <span class="icon">♡</span>
        <span class="icon">🛒</span>
    </div>
</header>

<div class="container">

    <div class="form-section">
        <div class="form-card">
            <h1>Reset Password</h1>
            <p class="subtitle">Enter new password</p>

            <form action="/reset-password" method="POST">
                
                <div class="input-group">
                    <label>New password</label>
                    <input type="password" name="password">
                </div>

                <div class="input-group">
                    <label>Confirm new password</label>
                    <input type="password" name="confirmPassword" >
                </div>

                <button type="submit" class="submit-btn">
                    Reset password
                </button>

            </form>
        </div>
    </div>

    <div class="image-section">
        <img src="/images/authbackground.png" alt="Shoes">
    </div>

</div>

</body>
</html>